version: '3.8'

services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      - JWT_SECRET=${JWT_SECRET} 

      - DATABASE_URL=mysql://root:${MYSQL_ROOT_PASSWORD}@mysql_db:3306/${MYSQL_DATABASE}
    depends_on:
      - mysql_db


  mysql_db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: